
<a><img src="https://cdn.pixabay.com/photo/2017/01/20/20/24/car-accident-1995852_1280.png" width="400" align="center"></a>

<h1 align="center"><font size="9">Applied Data Science Capstone</font></h1>
<hr style="border:3px solid blue"> </hr>

# Capstone Project - Car Accident Severity
### Applied Data Science Capstone by IBM/Coursera

<hr style="border:1px solid black"> </hr>

# Table of contents
1. [Introduction: Business Problem](#introduction)
2. [Data Understanding](#data_un)
    1. [Import Packages](#imp_pack_data_un)
    2. [Get Data](#get_data)
    3. [Data Exploration](#data_ex)
    4. [Parameter Selection](#parameter)
    5. [Visualization](#visual)
3. [Data Preparation](#data_pr)
    1. [Import Packages](#imp_pack_data_pre)
    2. [Data Separation](#data_se)
    3. [Data Cleaning](#data_cl)
    4. [Categorize Data](#cat_data)
    5. [Balance Data](#bal_data)
    6. [Train / Test Division](#tt_div)
4. [Modeling](#modeling)

# 1. Introduction: Business understanding (Problem) <a name="introduction"></a>
<hr style="border:1px solid black"> </hr>

In an effort to reduce the frequency and the sverity of car collisions in a community, an algorithim must be developed to predict the severity of an accident given the current weather, road and visibility conditions. 

When conditions are prone to fatal accidents, the model developed will allow drivers to be alerted to the likelihood of an accident and to be reminded to drive carefully.

# 2. Data Understanding<a name="data_un"></a>
<hr style="border:1px solid black"> </hr>
import data from csv fila using pandas library

the data set we are going to use contains data about car accidents provided by SPD and recorded by Traffic Records.([Download Data](https://opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv)), The label for the data set is 'SEVERITYCODE' (Target variable), which describes the fatality of an accident, it can take 4 values:

* 0: Little to no Probability (Clear Conditions)
* 1: Very Low Probability - Chance or Property Damage
* 2: Low Probability - Chance of Injury
* 3: Mild Probability - Chance of Serious Injury
* 4: High Probability - Chance of Fatality

## 2.1 Import Packages <a name="imp_pack_data_un"></a>
import data from csv fila using pandas library

In [1]:
#import pandas
try:
    import pandas as pd
    print("pandas installed")
except:
    pass

pandas installed

## 2.2 Get data <a name="get_data"></a>
import data from csv fila using pandas library

In [2]:
car_acc_df = pd.read_csv('https://opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv',encoding = "utf-8",low_memory=False)
car_acc_df.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.288688,47.532714,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN,...,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN,0,0,N
2,-122.355556,47.727318,3,1358,1358,3568600,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
3,-122.317563,47.618764,4,70700,70700,2806057,Matched,Block,NaN,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE,...,Dry,Other,NaN,7065007.0,NaN,32,One parked--one moving,0,0,N
4,-122.361015,47.538551,5,53600,53600,2127310,Matched,Block,NaN,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...,...,Dry,Daylight,NaN,6137017.0,NaN,14,From same direction - both going straight - on...,0,0,N

## 2.3 Data exploration<a name="data_ex"></a>
Appli some pandas methods to understand better the data

#### Dataset shape

In [3]:
print("Rows: ",car_acc_df.shape[0])
print("Columns: ",car_acc_df.shape[1])

Rows:  221144
Columns:  40

#### Data basic information

In [4]:
car_acc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221144 entries, 0 to 221143
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                213675 non-null  float64
 1   Y                213675 non-null  float64
 2   OBJECTID         221144 non-null  int64
 3   INCKEY           221144 non-null  int64
 4   COLDETKEY        221144 non-null  int64
 5   REPORTNO         221144 non-null  object
 6   STATUS           221144 non-null  object
 7   ADDRTYPE         217432 non-null  object
 8   INTKEY           71774 non-null   float64
 9   LOCATION         216558 non-null  object
 10  EXCEPTRSNCODE    100741 non-null  object
 11  EXCEPTRSNDESC    11771 non-null   object
 12  SEVERITYCODE     221143 non-null  object
 13  SEVERITYDESC     221144 non-null  object
 14  COLLISIONTYPE    194740 non-null  object
 15  PERSONCOUNT      221144 non-null  int64
 16  PEDCOUNT         221144 non-null  int64
 17  PEDCYLCOUNT      221144 non-null  int64
 18  VEHCOUNT         221144 non-null  int64
 19  INJURIES         221144 non-null  int64
 20  SERIOUSINJURIES  221144 non-null  int64
 21  FATALITIES       221144 non-null  int64
 22  INCDATE          221144 non-null  object
 23  INCDTTM          221144 non-null  object
 24  JUNCTIONTYPE     209182 non-null  object
 25  SDOT_COLCODE     221143 non-null  float64
 26  SDOT_COLDESC     221143 non-null  object
 27  INATTENTIONIND   30188 non-null   object
 28  UNDERINFL        194760 non-null  object
 29  WEATHER          194551 non-null  object
 30  ROADCOND         194631 non-null  object
 31  LIGHTCOND        194463 non-null  object
 32  PEDROWNOTGRNT    5188 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9912 non-null    object
 35  ST_COLCODE       211731 non-null  object
 36  ST_COLDESC       194740 non-null  object
 37  SEGLANEKEY       221144 non-null  int64
 38  CROSSWALKKEY     221144 non-null  int64
 39  HITPARKEDCAR     221144 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.5+ MB

#### Data statistic description

In [5]:
car_acc_df.describe(include="all")

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,213675.000000,213675.000000,221144.000000,221144.000000,221144.000000,221144,221144,217432,71774.000000,216558,...,194631,194463,5188,1.272050e+05,9912,211731,194740,221144.000000,2.211440e+05,221144
unique,NaN,NaN,NaN,NaN,NaN,221141,2,3,NaN,25187,...,9,9,1,NaN,1,63,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,1780512,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,2,194813,144784,NaN,298,...,128150,119149,5188,NaN,9912,44838,44838,NaN,NaN,209193
mean,-122.330748,47.620206,110572.500000,144499.335261,144726.158928,NaN,NaN,NaN,37617.166258,NaN,...,NaN,NaN,NaN,7.971063e+06,NaN,NaN,NaN,261.585804,9.591375e+03,NaN
std,0.030051,0.056033,63838.918302,88953.719744,89326.449360,NaN,NaN,NaN,51918.292696,NaN,...,NaN,NaN,NaN,2.611523e+06,NaN,NaN,NaN,3249.740639,7.151363e+04,NaN
min,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,NaN,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,-122.349280,47.577309,55286.750000,71572.750000,71572.750000,NaN,NaN,NaN,28653.000000,NaN,...,NaN,NaN,NaN,6.007029e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,-122.330348,47.616053,110572.500000,127061.500000,127061.500000,NaN,NaN,NaN,29973.000000,NaN,...,NaN,NaN,NaN,8.033011e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,-122.311998,47.664282,165858.250000,209528.250000,209748.250000,NaN,NaN,NaN,33983.750000,NaN,...,NaN,NaN,NaN,1.018101e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,-122.238949,47.734142,221144.000000,333528.000000,335028.000000,NaN,NaN,NaN,757580.000000,NaN,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

## 2.4 Parameter Selection <a name="parameter"></a>
based on the defined problem and the exploration of the data, take 'SEVERITYCODE' as the target and take the following parameters as the independent variables:

| Variables | Description |
| :- | -: |
| X | Coordinates |
| Y | Coordinates |
| WEATHER | A description of the weather conditions during the time of the collision |
| SPEEDING | Whether or not speeding was a factor in the collision. (Y/N) |
| LIGHTCOND | The light conditions during the collision |
| ROADCOND | The condition of the road during the collision |
| JUNCTION TYPE | Category of junction at which collision took place |
| PERSONCOUNT | The total number of people involved in the collision |
| VEHCOUNT | The number of vehicles involved in the collision |

<a><img src="table 1.jpg" width="700" align="center"></a>
#### note:  X and Y coordinates are for a clustering model at the end of the notebook

## 2.5 Visualization <a name="visual"></a>
import necesary packages for data preparation

# 3. Data Preparation<a name="data_pr"></a>
<hr style="border:1px solid black"> </hr>
In this section the dataset is prepared, only the data that is needed is taken, cleaned, balanced, standardized and divided into training and testing arrays.

## 3.1 Import Packages <a name="imp_pack_data_pre"></a>
import necesary packages for data preparation

In [53]:
try:
    import numpy as np
    from sklearn import preprocessing
    from sklearn.utils import resample
    from sklearn.model_selection import train_test_split
    print("All Packages Installed")
except:
    pass

All Packages Installed

## 3.2 Data Separation <a name="data_se"></a>
variables and target are taken to a new Dataset

In [7]:
car_acc = car_acc_df[["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT","SEVERITYCODE"]]
car_acc.head()

,WEATHER,SPEEDING,LIGHTCOND,ROADCOND,JUNCTIONTYPE,PERSONCOUNT,VEHCOUNT,SEVERITYCODE
0,NaN,NaN,NaN,NaN,Mid-Block (not related to intersection),0,0,0
1,NaN,NaN,NaN,NaN,NaN,0,0,0
2,Overcast,NaN,Daylight,Dry,Mid-Block (not related to intersection),2,2,1
3,Clear,NaN,Other,Dry,Mid-Block (not related to intersection),2,2,1
4,Clear,NaN,Daylight,Dry,Mid-Block (but intersection related),2,2,1

## 3.3 Data Cleaning <a name="data_cl"></a>
data is cleaned variable by variable

#### WEATHER
<hr style="border:1px solid green"> </hr>

In [8]:
car_acc.WEATHER.value_counts(dropna=False)

Clear                       114342
Raining                      34019
Overcast                     28504
NaN                          26593
Unknown                      15131
Snowing                        919
Other                          851
Fog/Smog/Smoke                 577
Sleet/Hail/Freezing Rain       116
Blowing Sand/Dirt               56
Severe Crosswind                26
Partly Cloudy                    9
Blowing Snow                     1
Name: WEATHER, dtype: int64

lets take the following actions:
* Replace NaN values with the mode
* Replace 'Unknown' values with the mode
* Drop 'Other' values

In [9]:
pd.set_option('mode.chained_assignment', None)
car_acc['WEATHER'].fillna(car_acc['WEATHER'].mode()[0], inplace=True)
car_acc['WEATHER'] = car_acc['WEATHER'].replace(['Unknown'],car_acc['WEATHER'].mode()[0])
car_acc = car_acc[car_acc.WEATHER !="Other"]

In [10]:
car_acc.WEATHER.value_counts(dropna=False)

Clear                       156066
Raining                      34019
Overcast                     28504
Snowing                        919
Fog/Smog/Smoke                 577
Sleet/Hail/Freezing Rain       116
Blowing Sand/Dirt               56
Severe Crosswind                26
Partly Cloudy                    9
Blowing Snow                     1
Name: WEATHER, dtype: int64

#### SPEEDING
<hr style="border:1px solid green"> </hr>

In [11]:
car_acc.SPEEDING.value_counts(dropna=False)

NaN    210406
Y        9887
Name: SPEEDING, dtype: int64

In the metadata of the database we can se that this value would take 2 values 'Y' or 'N', so lets change NaN values to 'N'

In [12]:
car_acc['SPEEDING'] = car_acc['SPEEDING'].fillna('N')

In [13]:
car_acc.SPEEDING.value_counts(dropna=False)

N    210406
Y      9887
Name: SPEEDING, dtype: int64

#### LIGHTCOND
<hr style="border:1px solid green"> </hr>

In [14]:
car_acc.LIGHTCOND.value_counts(dropna=False)

Daylight                    118840
Dark - Street Lights On      49904
NaN                          26675
Unknown                      13199
Dusk                          6051
Dawn                          2590
Dark - No Street Lights       1564
Dark - Street Lights Off      1230
Other                          224
Dark - Unknown Lighting         16
Name: LIGHTCOND, dtype: int64

lets take the following actions:
* Replace NaN values with the mode
* Replace 'Unknown' values with the mode
* Drop 'Other' values
* Combine 'Dark - No Street Lights' and 'Dark - Street Lights Off' into a new category 'Dark - No Street Lights / Street Lights Off'
* Replace 'Dark - Unknown Lighting' to the mode of dark values 'Dark - Street Lights On'

In [15]:
car_acc['LIGHTCOND'].fillna(car_acc['LIGHTCOND'].mode()[0], inplace=True)
car_acc['LIGHTCOND'] = car_acc['LIGHTCOND'].replace(['Unknown'],car_acc['LIGHTCOND'].mode()[0])
car_acc = car_acc[car_acc.LIGHTCOND !="Other"]
car_acc['LIGHTCOND'] = car_acc['LIGHTCOND'].replace(['Dark - No Street Lights'],'Dark - No Street Lights / Street Lights Off')
car_acc['LIGHTCOND'] = car_acc['LIGHTCOND'].replace(['Dark - Street Lights Off'],'Dark - No Street Lights / Street Lights Off')

In [16]:
car_acc.LIGHTCOND.value_counts(dropna=False)

Daylight                                       158714
Dark - Street Lights On                         49904
Dusk                                             6051
Dark - No Street Lights / Street Lights Off      2794
Dawn                                             2590
Dark - Unknown Lighting                            16
Name: LIGHTCOND, dtype: int64

#### ROADCOND
<hr style="border:1px solid green"> </hr>

In [17]:
car_acc.ROADCOND.value_counts(dropna=False)

Dry               127857
Wet                48547
NaN                26511
Unknown            14565
Ice                 1211
Snow/Slush          1000
Other                123
Standing Water       116
Sand/Mud/Dirt         76
Oil                   63
Name: ROADCOND, dtype: int64

lets take the following actions:
* Replace NaN values with the mode
* Replace 'Unknown' values with the mode

In [18]:
car_acc['ROADCOND'].fillna(car_acc['ROADCOND'].mode()[0], inplace=True)
car_acc['ROADCOND'] = car_acc['ROADCOND'].replace(['Unknown'],car_acc['ROADCOND'].mode()[0])

In [19]:
car_acc.ROADCOND.value_counts(dropna=False)

Dry               168933
Wet                48547
Ice                 1211
Snow/Slush          1000
Other                123
Standing Water       116
Sand/Mud/Dirt         76
Oil                   63
Name: ROADCOND, dtype: int64

#### JUNCTIONTYPE
<hr style="border:1px solid green"> </hr>

In [20]:
car_acc.JUNCTIONTYPE.value_counts(dropna=False)

Mid-Block (not related to intersection)              100851
At Intersection (intersection related)                68901
Mid-Block (but intersection related)                  24313
NaN                                                   11864
Driveway Junction                                     11445
At Intersection (but not related to intersection)      2486
Ramp Junction                                           188
Unknown                                                  21
Name: JUNCTIONTYPE, dtype: int64

lets take the following actions:
* Replace NaN values with the mode
* Drop 'Unknown' values

In [21]:
car_acc['JUNCTIONTYPE'].fillna(car_acc['JUNCTIONTYPE'].mode()[0], inplace=True)
car_acc = car_acc[car_acc.JUNCTIONTYPE !="Unknown"]

In [22]:
car_acc.JUNCTIONTYPE.value_counts(dropna=False)

Mid-Block (not related to intersection)              112715
At Intersection (intersection related)                68901
Mid-Block (but intersection related)                  24313
Driveway Junction                                     11445
At Intersection (but not related to intersection)      2486
Ramp Junction                                           188
Name: JUNCTIONTYPE, dtype: int64

#### PERSONCOUNT
<hr style="border:1px solid green"> </hr>

Check if there are missing values in this column

In [23]:
print("NaN Values in this column :",car_acc.PERSONCOUNT.isnull().values.any())

NaN Values in this column : False

#### VEHCOUNT
<hr style="border:1px solid green"> </hr>

Check if there are missing values in this column

In [24]:
print("NaN Values in this column :",car_acc.VEHCOUNT.isnull().values.any())

NaN Values in this column : False

#### SEVERITYCODE
<hr style="border:1px solid green"> </hr>

In [25]:
car_acc.SEVERITYCODE.value_counts(dropna=False)

1      136516
2       58492
0       21607
2b       3086
3         346
NaN         1
Name: SEVERITYCODE, dtype: int64

lets take the following actions:
* Replace NaN values with the mode
* Replace '3' value to '4' and Replace '2b' value to '3'

In [26]:
car_acc['SEVERITYCODE'].fillna(car_acc['SEVERITYCODE'].mode()[0], inplace=True)
car_acc['SEVERITYCODE'] = car_acc['SEVERITYCODE'].replace(['3'],'4')
car_acc['SEVERITYCODE'] = car_acc['SEVERITYCODE'].replace(['2b'],'3')

In [27]:
car_acc.SEVERITYCODE.value_counts(dropna=False)

1    136517
2     58492
0     21607
3      3086
4       346
Name: SEVERITYCODE, dtype: int64

## 3.4 Categorize Data <a name="cat_data"></a>
### category variables
some variables need to ve comverted to categorical and to do that its necesary to have the data in numpy format

In [28]:
x = car_acc[["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT"]].values
y = car_acc[["SEVERITYCODE"]].values
x[0:5]

array([['Clear', 'N', 'Daylight', 'Dry',
        'Mid-Block (not related to intersection)', 0, 0],
       ['Clear', 'N', 'Daylight', 'Dry',
        'Mid-Block (not related to intersection)', 0, 0],
       ['Overcast', 'N', 'Daylight', 'Dry',
        'Mid-Block (not related to intersection)', 2, 2],
       ['Clear', 'N', 'Daylight', 'Dry',
        'Mid-Block (but intersection related)', 2, 2],
       ['Clear', 'N', 'Daylight', 'Dry',
        'At Intersection (intersection related)', 4, 2]], dtype=object)

categorize variables using sklearn.preprocessing.LabelEncoder() and almacening the mapping in dictionaries

In [29]:
le_weather = preprocessing.LabelEncoder()
le_weather.fit(list(car_acc["WEATHER"].unique()))
le_weather_mapping = dict(zip(le_weather.classes_, le_weather.transform(le_weather.classes_)))
x[:,0] = le_weather.transform(x[:,0]) 

le_speeding = preprocessing.LabelEncoder()
le_speeding.fit(list(car_acc["SPEEDING"].unique()))
le_speeding_mapping = dict(zip(le_speeding.classes_, le_speeding.transform(le_speeding.classes_)))
x[:,1] = le_speeding.transform(x[:,1]) 

le_lightcond = preprocessing.LabelEncoder()
le_lightcond.fit(list(car_acc["LIGHTCOND"].unique()))
le_lightcond_mapping = dict(zip(le_lightcond.classes_, le_lightcond.transform(le_lightcond.classes_)))
x[:,2] = le_lightcond.transform(x[:,2])

le_roadcond = preprocessing.LabelEncoder()
le_roadcond.fit(list(car_acc["ROADCOND"].unique()))
le_roadcond_mapping = dict(zip(le_roadcond.classes_, le_roadcond.transform(le_roadcond.classes_)))
x[:,3] = le_roadcond.transform(x[:,3])

le_junctiontype = preprocessing.LabelEncoder()
le_junctiontype.fit(list(car_acc["JUNCTIONTYPE"].unique()))
le_junctiontype_mapping = dict(zip(le_junctiontype.classes_, le_junctiontype.transform(le_junctiontype.classes_)))
x[:,4] = le_junctiontype.transform(x[:,4])

Now lets see how the data has been transform

In [30]:
x[0:5]

array([[2, 0, 4, 0, 4, 0, 0],
       [2, 0, 4, 0, 4, 0, 0],
       [4, 0, 4, 0, 4, 2, 2],
       [2, 0, 4, 0, 3, 2, 2],
       [2, 0, 4, 0, 1, 4, 2]], dtype=object)

now lets look the data in dataframe format

In [31]:
car_acc = pd.DataFrame(x)
car_acc.columns = ["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT"]
car_acc['SEVERITYCODE'] = y
car_acc.head()

,WEATHER,SPEEDING,LIGHTCOND,ROADCOND,JUNCTIONTYPE,PERSONCOUNT,VEHCOUNT,SEVERITYCODE
0,2,0,4,0,4,0,0,0
1,2,0,4,0,4,0,0,0
2,4,0,4,0,4,2,2,1
3,2,0,4,0,3,2,2,1
4,2,0,4,0,1,4,2,2

### Continuos Variables

In [32]:
car_acc['PERSONCOUNT_CAT'] = pd.qcut(car_acc['PERSONCOUNT'], q=4, duplicates='drop')
car_acc['VEHCOUNT_CAT'] = pd.qcut(car_acc['PERSONCOUNT'], q=4, duplicates='drop')
car_acc.head()

,WEATHER,SPEEDING,LIGHTCOND,ROADCOND,JUNCTIONTYPE,PERSONCOUNT,VEHCOUNT,SEVERITYCODE,PERSONCOUNT_CAT,VEHCOUNT_CAT
0,2,0,4,0,4,0,0,0,"(-0.001, 2.0]","(-0.001, 2.0]"
1,2,0,4,0,4,0,0,0,"(-0.001, 2.0]","(-0.001, 2.0]"
2,4,0,4,0,4,2,2,1,"(-0.001, 2.0]","(-0.001, 2.0]"
3,2,0,4,0,3,2,2,1,"(-0.001, 2.0]","(-0.001, 2.0]"
4,2,0,4,0,1,4,2,2,"(3.0, 93.0]","(3.0, 93.0]"

In [33]:
x = car_acc[["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT","SEVERITYCODE",
            "PERSONCOUNT_CAT","VEHCOUNT_CAT"]].values

le_person = preprocessing.LabelEncoder()
le_person.fit(list(car_acc["PERSONCOUNT_CAT"].unique()))
le_person_mapping = dict(zip(le_person.classes_, le_person.transform(le_person.classes_)))
x[:,8] = le_person.transform(x[:,8]) 

le_veh = preprocessing.LabelEncoder()
le_veh.fit(list(car_acc["VEHCOUNT_CAT"].unique()))
le_veh_mapping = dict(zip(le_veh.classes_, le_veh.transform(le_veh.classes_)))
x[:,9] = le_veh.transform(x[:,9]) 

x[0:5]

array([[2, 0, 4, 0, 4, 0, 0, '0', 0, 0],
       [2, 0, 4, 0, 4, 0, 0, '0', 0, 0],
       [4, 0, 4, 0, 4, 2, 2, '1', 0, 0],
       [2, 0, 4, 0, 3, 2, 2, '1', 0, 0],
       [2, 0, 4, 0, 1, 4, 2, '2', 2, 2]], dtype=object)

In [34]:
car_acc = pd.DataFrame(x)
car_acc.columns = ["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT","SEVERITYCODE",
                   "PERSONCOUNT_CAT","VEHCOUNT_CAT"]
car_acc.drop(['PERSONCOUNT','VEHCOUNT'], axis=1, inplace=True)
car_acc.rename(columns={'PERSONCOUNT_CAT': 'PERSONCOUNT', 'VEHCOUNT_CAT': 'VEHCOUNT'}, inplace=True)
car_acc.head()

,WEATHER,SPEEDING,LIGHTCOND,ROADCOND,JUNCTIONTYPE,SEVERITYCODE,PERSONCOUNT,VEHCOUNT
0,2,0,4,0,4,0,0,0
1,2,0,4,0,4,0,0,0
2,4,0,4,0,4,1,0,0
3,2,0,4,0,3,1,0,0
4,2,0,4,0,1,2,2,2

### Code Mapping

|  WEATHER | CODE | ---- | SPEEDING | CODE | ---- | LIGHTCOND | CODE |
| :- | | | | | | |-: |
| Blowing Sand/Dirt| 0 | ---- | N | 0 | ---- | Dark - No Street Lights / Street Lights Off | 0 |
| Blowing Snow | 1 | ---- | Y | 1 | ---- | Dark - Street Lights On | 1 |
| Clear | 2 | ---- | | | ---- | Dark - Unknown Lighting | 2 |
| Fog/Smog/Smoke | 3 | ---- | | | ---- | Dawn | 3 |
| Overcast | 4 | ---- | | | ---- | Daylight | 4 |
| Partly Cloudy | 5 | ---- | | | ---- | Dusk | 5 |
| Raining | 6 | ---- | | | ---- | | |
| Severe Crosswind | 7 | ---- | | | ---- | | |
| Sleet/Hail/Freezing Rain | 8 | ---- | | | ---- | | |
| Snowing | 9 | ---- | | | ---- | | |

|  ROADCOND | CODE | --- | JUNCTIONTYPE | CODE | --- | PERSONCOUNT | CODE | --- | VEHCOUNT | CODE |
| :- | | | | | | | | | | -: |
| Dry | 0 | --- | At Intersection (but not related to intersection) | 0 | --- | 0 <= x < 2 | 0 | --- | 0 <= x < 2 | 0 |
| Ice | 1 | --- | At Intersection (intersection related) | 1 | --- | 2 <= x < 3 | 1 | --- | 2 <= x < 3 | 1 |
| Oil | 2 | --- | Driveway Junction | 2 | --- | 3 <= x < 93 | 2 | --- | 3 <= x < 93 | 2 |
| Other | 3 | --- | Mid-Block (but intersection related) | 3 | --- | | | | | |
| Sand/Mud/Dirt | 4 | --- | Mid-Block (not related to intersection) | 4 | --- | | | | | |
| Snow/Slush | 5 | --- | Ramp Junction | 5 | --- | | | | | |
| Standing Water | 6 | --- | | | --- | | | | | |
| Wet | 7 | --- | | | --- | | | | | |

## 3.5 Balance Data <a name="bal_data"></a>
now that the data is filtered and categorized proceed to balance the data with the Up-sample Minority Class method, the majority class is 1 : ______

In [42]:
car_acc_0 = car_acc[car_acc.SEVERITYCODE == '0']
car_acc_1 = car_acc[car_acc.SEVERITYCODE == '1']
car_acc_2 = car_acc[car_acc.SEVERITYCODE == '2']
car_acc_3 = car_acc[car_acc.SEVERITYCODE == '3']
car_acc_4 = car_acc[car_acc.SEVERITYCODE == '4']
print("SHAPE 0: ",car_acc_0.shape)
print("SHAPE 1: ",car_acc_1.shape)
print("SHAPE 2: ",car_acc_2.shape)
print("SHAPE 3: ",car_acc_3.shape)
print("SHAPE 4: ",car_acc_4.shape)

SHAPE 0:  (21607, 8)
SHAPE 1:  (136517, 8)
SHAPE 2:  (58492, 8)
SHAPE 3:  (3086, 8)
SHAPE 4:  (346, 8)

In [40]:
maj_class =car_acc_1.shape[0]

car_acc_0_upsampled = resample(car_acc_0,replace=True,n_samples=maj_class,random_state=123) 

car_acc_2_upsampled = resample(car_acc_2,replace=True,n_samples=maj_class,random_state=123) 

car_acc_3_upsampled = resample(car_acc_3,replace=True,n_samples=maj_class,random_state=123) 

car_acc_4_upsampled = resample(car_acc_4,replace=True,n_samples=maj_class,random_state=123) 

car_acc_upsampled = pd.concat([car_acc_0_upsampled, car_acc_1, car_acc_2_upsampled, car_acc_3_upsampled, car_acc_4_upsampled])

print("The shape of the upsample dataframe is : ",car_acc_upsampled.shape)

The shape of the upsample dataframe is :  (682585, 8)

In [41]:
car_acc_upsampled.reset_index(inplace = True,drop=True) 
car_acc_upsampled.head()

,WEATHER,SPEEDING,LIGHTCOND,ROADCOND,JUNCTIONTYPE,SEVERITYCODE,PERSONCOUNT,VEHCOUNT
0,2,0,4,0,4,0,0,0
1,2,0,4,0,4,0,0,0
2,2,0,4,0,4,0,0,0
3,2,0,4,0,4,0,0,0
4,2,0,4,0,4,0,0,0

## 3.6 Train / Test Division <a name="tt_div"></a>

divide the dataset into train and test with a proportion of 70/30

In [54]:
X = car_acc_upsampled[["WEATHER","SPEEDING","LIGHTCOND","ROADCOND","JUNCTIONTYPE","PERSONCOUNT","VEHCOUNT"]].values
Y = car_acc_upsampled["SEVERITYCODE"]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=3)

# 4. Modeling <a name="modeling"></a>
<hr style="border:1px solid black"> </hr>
start running diferent models